@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&family=Mulish&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cinzel:wght@800&family=Fredericka+the+Great&family=Ingrid+Darling&family=Joan&family=Reggae+One&family=Rubik+Glitch&family=Tapestry&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

@keyframes slide-right{0%{transform:translateX(0)}100%{transform:translateX(100px)}}
.slide-right{animation:slide-right 1s cubic-bezier(.25,.46,.45,.94) both}

#luckypage {
    display : none;
}

video {
    @apply object-cover z-[-1] w-[100vw] h-[100vh] fixed top-0 left-0;
  }

@tailwind base;
@tailwind components;

.body-beauty {
    @apply bg-black flex h-screen flex-col backdrop-brightness-100;
}

.navi-div {
    @apply flex place-content-evenly;
}

.namehead {
    @apply transition text-6xl text-white hover:first-letter:text-blue-400 my-7 mx-24 mb-[2.75rem] duration-200 ;
}
.navi-bar {
    @apply flex space-x-9 text-white items-center font-mono text-lg font-semibold;
}
.navi-items {
    @apply transition ease-in-out hover:text-green-400 hover:-translate-y-2 duration-500;
}
.main-div {
    @apply flex justify-center flex-col space-y-9 mx-[21.25rem] w-[29rem] self-center ml-[10rem];
}

.title-of-page {
    @apply introlines text-4xl underline-offset-[7px];
}

.introlines {
    @apply transition text-xl text-white font-joan duration-300;
}

.social-icon {
    @apply transition w-10 h-10 mt-[-16px] cursor-pointer rounded-lg bg-white duration-150;
}

.footer {
    @apply flex text-white justify-center my-12 font-mono;
}

/* ------PORTFOLIO ITEMS CLASS------------ */
.item-div {
    @apply flex flex-col;
}

.item-image {
    @apply w-[20rem] h-[20rem];
}

.item-title {
    @apply font-mono text-white text-xl font-semibold my-4;
}

.item-description {
    @apply text-white font-mono text-base hover:bg-slate-700;
}
.item-action-button {
    @apply  text-white bg-gradient-to-r from-teal-400 via-teal-500 to-teal-600 hover:bg-gradient-to-br focus:ring-1 focus:outline-none focus:ring-teal-300 dark:focus:ring-teal-800 shadow-lg shadow-teal-500/50 dark:shadow-lg dark:shadow-teal-800/80 font-karla rounded-3xl text-sm px-5 py-2.5 text-center mr-2 mb-2;
}
.item-secondry-action-button {
    @apply  text-white font-karla text-sm px-5 py-2.5 text-center mr-2 mb-2;
}
/* ------PORTFOLIO ITEMS CLASS END------------ */
/* --------ABOUT PAGE SPECIFIC CSS------------ */
.pic-and-desc-div {
    @apply flex flex-row w-[46rem] mt-[5rem];
}


/* --------ABOUT PAGE SPECIFIC CSS END------------ */
@layer components {
    .namehead {
        @apply font-sacramento;
    }
}

@tailwind utilities;
/* --------------------mobile screen settings------------------------------- */
@media screen and (max-width: 883px){
    video {
        @apply rotate-90 mt-[14rem] scale-[1.8];
    }
    .navi-div {
        @apply flex-col;
    }
    .namehead{
        @apply ml-0 mr-0 self-center text-[49px];
    }
    .navi-bar{
        @apply text-[11px] justify-center;
    }
    .main-div {
        @apply ml-0 mr-0 w-[21rem];
    }
    .introlines{
        @apply text-[larger];
    }
    /* ------------------------- */
    .pic-and-desc-div {
        @apply flex flex-col-reverse w-[18rem] mt-[5rem];
    }
    .pic-and-desc-div > p{
        @apply mt-[4rem];
    }
}